.patient__dashboard {
  display: flex;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.p_dashboard__left_panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 20px 10px;
  align-items: center;
  justify-content: space-between;
}
.p_dashboard_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p_dashboard_logo img {
  align-self: center;
  max-width: 110px;
}
.p_dashboard_logout img {
  max-width: 160px;
  margin-bottom: 10px;
}
.p_dashboard__nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.p_dashboard__nav a {
  font-size: 1em;
}
.p_dashboard__nav_a {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 5px 10px;
}
.p_dashboard__nav a {
  margin: 5px 0px;
}
.p_dashboard__nav a :hover {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}
.p_dashboard__nav_a svg:hover {
  fill: white;
}
.p_dashboard__nav svg {
  width: 24px;
  margin-right: 2px;
}
.nav-active {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}
.nav-active svg path {
  fill: white;
}
.mlg svg path {
  stroke: white;
  fill: none !important;
}
.p_dashboard__right_side {
  height: 100%;
  width: 80%;
  background-color: #f9f9f9;
}

/* patient dashboard- dosage reminder*/
.p_dashboard__dosage {
  padding: 20px;
  height: 100vh;
  max-height: 800px;
}
.p_dashboard__component_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0 10px;
}
.p_dashboard__component_title h4 {
  font-weight: 400;
  font-size: 1.8em;
  color: #535353;
}
.p_dashboard__reminder_section {
  max-height: 95%;
  overflow-y: auto;
}
.p_dashboard_reminders_grid {
  margin: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.reminders_card {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 14px;
  background-color: white;
  padding: 20px;
}
.reminders_card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminders_card_title h4 {
  font-size: 1.2em;
  font-weight: 400;
  color: #535353;
}
.reminders_card_title a {
  cursor: pointer;
}
.reminders_card_title a:last-child {
  margin-left: 5px;
}
.reminders_card_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reminders_card_details img {
  max-width: 50px;
}
.reminder_times h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 1.1em;
  font-weight: 400;
}
.reminder_times input {
  width: 60px;
  height: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  margin: 1px;
}
.border-red {
  border: 1px solid red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.reminders_card_title input {
  width: 70%;
  height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  margin: 1px;
  font-size: 1.1em;
}
.add_reminder {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.add_reminder svg {
  max-width: 100px;
}
.add_reminder h4 {
  align-self: center;
  font-size: 1.23rem;
  font-weight: 400;
}
.reminder_input_blocks {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.reminder_input_blocks input {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 100px;
  height: 20px;
  margin-left: 10px;
}
.reminder_buttons {
  display: flex;
  flex-direction: row;
}
.reminder_buttons a {
  margin: 10px;
  cursor: pointer;
}
.reminder_error {
  display: block;
  color: red;
  font-size: 0.8em;
  font-weight: 200;
}
.none {
  display: none;
}

/*editmed section*/
.p_dashboard__editmed_section {
  height: 95%;
  overflow-y: auto;
}
.p_dashboard__dashboard_section {
  height: 80vh;
  overflow-y: auto;
}
.p_dashboard_editmed_datablock {
  width: 100%;
  height: fit-content;
}
.p_dashboard_editmed_datablock h4 {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 400;
  color: #535353;
}
.p_dashboard__editmed_grid {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.p_dashboard_doctors-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.medcard {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 14px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.medcard_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.medcard_title h3 {
  font-size: 1em;
  font-weight: 400;
  color: #535353;
}
.medcard_data h3 {
  padding: 10px;
  font-size: 1.7em;
  font-weight: 500;
  color: #535353;
}
.addmed a {
  cursor: pointer;
}
.addmed h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: #535353;
}
.medata_buttons a {
  margin-left: 5px;
  cursor: pointer;
}
.addnew-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.addnew-inputs h3 {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: #535353;
}
.addnew-inputs input {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  width: 45px;
  height: 30px;
  font-size: 1.5em;
  font-weight: 500;
  color: #535353;
  margin-bottom: 10px;
}
.addnew-inputs a {
  margin-top: 4px;
  margin: 6px;
}
.medcard_data input {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  width: 45px;
  height: 35px;
  font-size: 1.5em;
  font-weight: 500;
  color: #535353;
}

/*notification*/

.notifciation-block {
  position: absolute;
  margin-right: 30px;
  right: 0;
  width: fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
}
.p_dashboard__component_title a {
  cursor: pointer;
}

.notification-block-div p {
  font-family: 500;
  font-size: 0.1.3em;
}
.notification-buttons {
  display: flex;
  flex-direction: row;
}
.notification-buttons a {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.notification-buttons a:last-child {
  background-color: red;
}
.slogo {
  display: none;
}

.doc-card h3 {
  font-size: 1.7em;
  font-weight: 500;
  color: #535353;
}
.doc-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.doc-card a {
  cursor: pointer;
}

.p_middle-item3 {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_graphs {
  padding: 25px;
  height: fit-content;
  /* overflow-y: auto; */
  overflow-x: hidden;
  display: grid;
  /* grid-template-columns: 700px 700px; */
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.p_graph {
  height: 400px;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 14px;
  display: flex;
}
@media only screen and (max-width: 425px) {
  .dashicon_text-none {
    display: none;
  }
  .p_dashboard_logout img {
    display: none;
  }
  .blogo {
    display: none;
  }
  .slogo {
    display: block;
    width: 40px;
  }
  .p_dashboard__left_panel {
    width: fit-content;
    padding: 10px 5px;
  }
  .patient__dashboard {
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .p_dashboard__right_side {
    width: 100%;
  }
  .p_dashboard__editmed_section {
    height: 90%;
    padding: 10px 25px 0px 0px;
  }
  .p_graphs{
    display: flex;
    flex-direction: column;
  }
  .p_middle-item3{
    margin:0
  }

  .p_graphs {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    padding: 0;
  }

  .no-time {
    height: 100vh;
  }

  .p_dashboard__dashboard_section {
    height: 100vh;
  }
  .p_dashboard__dashboard_section {
    height: 100vh;
  }

}
.title_p p{
  font-size: 1em;
  font-weight: 200;
  color: #535353;
}
.title_p{
  margin-bottom: 10px;
}
@media only screen and (min-width: 1460px) {
  .p_dashboard__editmed_section {
    height: 92vh;
    overflow-y: auto;
  }
  .p_dashboard__dashboard_section {
    height: 92vh;
    overflow-y: auto;
  }
  .p_dashboard_editmed_datablock {
    height: 92vh;
    height: fit-content;
  }

}
@media only screen and (max-width: 320px) {
  .reminders_card_details img {
    max-width: 30px;
  }
  .add_reminder svg {
    max-width: 80px;
  }
  .add_reminder h4 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .p_graph {
    width: 90vw;
  }

  .p_dashboard__dashboard_section {
    height: 100vh;
  }
}

.no-time {
  height: 100vh;
}

@media only screen and (max-width: 780px){
    .p_dashboard__dashboard_section {
    height: 100vh;
    }

    .p_middle-item3 {
      margin: 0;
      justify-content: center;
      align-items: center;
    }

    .p_graphs {
      align-self: center;
      justify-content: center;
      align-items: center;
    }

    .p_graph {
      align-self: center;
    }
}
  
