.doctorDashboard {
  width: 100%;
  height: fit-content;
  background-color: #f3f3f3;
}

/* Nav */
.doctorDashboard nav {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  background-color: white;
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0;
}

#nav-logo {
  position: absolute;
  width: 100px;
  height: auto;
  top: 7px;
  left: 40%;
  margin: 0 auto;
  display: none;
}

.sidebarButton {
  padding: 10px;
  width: fit-content;
  height: auto;
  cursor: pointer;
  position: absolute;
}

#menuIcon:hover {
  color: white;
}

.sidebarButton:hover {
  background-color: var(--primary-color);
}

/* .sidebarButton img {
  width: 25px;
  background-color: white;
} */

/* Sidebar and main dashboard */
.doctorDashboard main {
  width: 100%;
  height: 92vh;
  height: 100%;
  display: flex;
}

.doctorDashboard__sidebar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  transition: 0.7s;
  background-color: white;
  z-index: 4;
}

.logo img {
  max-width: 110px;
  min-width: 100px;
}

.sidebar__item1 {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patients {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.patients_list li {
  margin: 2px 0;
  text-align: center;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.sidebar__item1 .patients span {
  width: fit-content;
  padding: 10px 40px;
  color: white;
  align-self: center;
  border-radius: 7px;
  background-color: var(--primary-color);
}

.sidebar__item1 .patients_list {
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 20px;
}

.sidebar__item2 {
  padding: 20px;
  margin-bottom: 50px;
}

.sidebar__item2 .add_patient {
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

.add_patient_form {
  width: 400px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  padding: 30px;
  text-align: start;
  bottom: -400px;
  left: -500px;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  z-index: 5;
}

.add_patient_form label {
  height: fit-content;
}

#add-patient-button {
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 5px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

#add-patient-input {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.add_patient_form form {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 4px;
  padding: 20px;
}

.sidebar__item2 .add_patient p {
  margin-left: 10px;
}

.sidebar__item2 .logout {
  padding: 10px;
  display: flex;
}

.sidebar__item2 .logout p {
  margin-left: 10px;
}

/* Main that is medrecords and stuff */
.doctorDashboard__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: #e5e5e5; */
  background-color: #f3f3f3;
  margin-left: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  transition: 1s;
}

.patients__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.patients__name h3 {
  font-weight: 500;
  font-size: 2em;
}
.patients__name img {
  max-width: 70px;
}
.current_records__cards {
  padding: 20px;
  margin: 20px 0 0 0;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.card-grid {
  height: fit-content;
  display: grid;
  /* grid-template-columns: 350px 350px 350px 350px; */
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  transition: 1s;
}
.card-grid .card {
  box-shadow: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  margin: 10px;
  padding: 30px 30px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.record {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.record h3 {
  font-size: 1.9em;
  font-weight: 500;
  color: #535353;
}
.card p {
  font-size: 1.2em;
  font-weight: 600;
  color: #535353;
}
.card img {
  width: 40px;
  margin: 10px;
}

#age-card {
  background-color: rgba(253, 186, 86, 0.23);
}

#height-card {
  background-color: #e9f5ff;
}
#weight-card {
  background-color: #e7ecf3;
}
#bmi-card {
  background-color: rgba(9, 158, 176, 0.2);
}

.middle-item3 {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphs {
  padding: 25px;
  height: fit-content;
  /* overflow-y: auto; */
  overflow-x: hidden;
  display: grid;
  /* grid-template-columns: 700px 700px; */
  grid-template-columns: repeat(2, minmax(600px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.graph {
  height: 400px;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 14px;
  display: flex;
}

#graph3 {
  grid-column: 1/3;
}

.middle-item4-AI {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  align-self: center;
}

.Ai-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  grid-gap: 100px;
  text-align: center;
}

.heart-card {
  padding: 40px;
  background-color: #ffd4cc;
  border: 2px solid #ff6161;
  color: #ff6161;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 15px;
  cursor: pointer;
}

#heart-vector {
  width: 64px;
  height: 64px;
}

.diabetes-card {
  padding: 40px;
  background-color: #f1d8f1;
  border: 2px solid #c387c3;
  color: #c387c3;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 15px;
  cursor: pointer;
}

.ai-result {
  display: flex;
  margin: 20px 0px;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

.ai-result p {
  margin: 5px;
  font-size: 1vw;
}

@media only screen and (max-width: 1200px) {
  /* Sidebar */
  .sidebar__item1 .patients span {
    width: fit-content;
    padding: 10px 20px;
    color: white;
    align-self: center;
    border-radius: 7px;
    background-color: var(--primary-color);
  }

  .doctorDashboard main {
    height: fit-content;
  }

  .doctorDashboard__sidebar {
    width: 30%;
    height: 100vh;
  }

  .sidebar__item2 {
    margin-bottom: 80px;
  }

  .card-grid {
    grid-template-columns: 400px 400px;
    grid-gap: 10px;
  }

  .middle-item3 {
    margin: 0;
    display: block;
    align-self: center;
  }

  .graphs {
    grid-template-columns: 800px;
    padding: 40px;
    overflow-x: hidden;
  }

  .patients__name {
    margin-top: 10px;
  }

  #graph3 {
    grid-column: 1;
  }

  .doctorDashboard__main {
    margin-left: 285px;
  }

  .ai-result p {
    margin: 5px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 780px) {
  /* Sidebar */
  .doctorDashboard main {
    width: 100%;
    height: fit-content;
  }

  .doctorDashboard__main {
    height: fit-content;
    width: 100%;
    margin-left: 0;
  }

  .doctorDashboard__sidebar {
    height: 100%;
    width: 300px;
    box-shadow: -3px 0 5px 0 #555;
  }
  .card-grid {
    grid-template-columns: 400px;
    grid-gap: 10px;
    width: 90vw;
  }

  .patients_list li {
    font-size: 1rem;
  }

  .graphs {
    /* grid-template-rows: 500px 500px 500px 500px 500px; */
    grid-template-rows:
      calc(90vh-10px) calc(90vh-10px) calc(90vh-10px) calc(90vh-10px)
      calc(90vh-10px);
  }

  .middle-item3 {
    margin-left: 0;
    margin-right: 0;
  }

  .graph {
    width: 90vw;
    height: calc(90vh-10px);
    margin: 0;
    padding: 0;
  }

  .patients__name {
    padding: 0;
    margin-top: 10px;
    align-self: center;
    width: 90vw;
  }

  .middle-item4-AI {
    margin-top: 0;
  }

  .Ai-card-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .heart-card {
    width: 90vw;
    font-size: 5vw;
  }

  .diabetes-card {
    width: 90vw;
    font-size: 5vw;
  }

  .ai-result p {
    font-size: 5vw;
  }

  .card {
    width: 85vw;
    align-self: center;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Sidebar */
  .doctorDashboard__sidebar {
    width: 25%;
    height: 100%;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .card-grid {
    grid-template-columns: 350px 350px;
    grid-gap: 10px;
  }
}
